In [1]:
print('''Twinkle, twinkle, little star,
    "How I wonder what you are! "
        Up above the world so high,
        Like a diamond in the sky.
Twinkle, ' twinkle ', little star,
    How I wonder what you are''')

Twinkle, twinkle, little star,
    "How I wonder what you are! "
        Up above the world so high,
        Like a diamond in the sky.
Twinkle, ' twinkle ', little star,
    How I wonder what you are

In [2]:
a=input()
b=input()
s='using format to print {0} and {1}'.format(a,b)
print(s)

12
13
using format to print 12 and 13

In [4]:
y=int(input('Enter year:'))

if y%4==0:
    if y%100==0 and y%400!=0:
        print('Not a Leap year')
    else:
        print('Leap year!')
else:
    print('Not a Leap year')

Enter year:1000
Not a Leap year

In [13]:
 for i in range(100,1000):
        s=0
        org=i
        org2=i
        while org>0:
            s+=(org%10)**3
            org=org//10
            
        if(s==org2):
            print(org2)

153
370
371
407

In [17]:
n=int(input())
a=0
b=1

print(a,b,end=' ')
for i in range(3,n+1):
    s=a+b
    print(s,end=' ')
    a=b
    b=s

10
0 1 1 2 3 5 8 13 21 34

In [29]:
n=int(input())
c='A'
for i in range(1,n+1):
    print(i*f'{c}')
    c=chr(ord(c)+1)

5
A
BB
CCC
DDDD
EEEEE

In [28]:
n=int(input())
for i in range(1,n+1):
    print(i*f' ',end='')
    print(n*f'*')
    n-=1

5
 *****
  ****
   ***
    **
     *

In [37]:
n=int(input())

for i in range(1,n+1):
    for j in range(n+1,i,-1):
        print(' ',end='')
    for j in range(1,i+1):
        print(j,end='')
    for j in range(i,1,-1):
        print(j-1,end='')
    print()

5
     1
    121
   12321
  1234321
 123454321

In [38]:
n=int(input())

for i in range(1,n+1):
    for j in range(n+1,i,-1):
        print(' ',end='')
    for j in range(1,i+1):
        print('*',end=' ')
    print()

5
     *
    * *
   * * *
  * * * *
 * * * * *